body
{
    display: flex;
    background: black;
}

.home-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .login-buttons {
    display: flex;
    gap: 400px;
}

.home-container .login-buttons a
{
    padding: 20px;
    color: white;
}

.home-container .login-buttons a:hover
{
    background: white;
    color: black;
}

.home-container .login-buttons .DOCTOR
{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .login-buttons .PATIENT
{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .login-buttons .STAFF
{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .login-buttons div {
    transition: transform 0.6s ease;
}

.home-container .login-buttons div:hover {
    transform: scale(1.3);
}